<main class="container">
  <div class="columns is-multiline">
    <% if (user.followedUsersPics && user.followedUsersPics.length > 0) { %>
      <% user.followedUsersPics.forEach((photo, index) => { %>
        <div class="column is-one-quarter-desktop is-half-tablet">
          <div class="card">
            <figure class="image image-container">
              <div class="image-overlay-text">
                <h3 class="image-overlay-header"><%= photo.description %></h3>
                <% if (photo.user) { %>
                  <p>Uploaded by <a href="/users/<%= photo.user._id %>"><%= photo.user.username %></a></p>
                <% } %>
              </div>
              <a href ="/photos/<%= photo._id%>">
                <img class="hoverable-image" src="<%= photo.image %>" alt="<%= photo.description %>">
              </a>
            </figure>
          </div>
        </div>
      <% }) %>
    <% } else { %>
      <img src="/images/compass.png" alt="compass" class="compass">
      <h1 class="is-size-1 not-following-text">You are not following anyone just yet. Head to the Explore tab to find more.</h1>
    <% } %>
  </div>
</main>
