<main class="container">
  <div class="columns is-multiline">
    <% if (user.followedUsersPics) { %>
      <% user.followedUsersPics.forEach(photo => { %>
        <div class="column is-one-quarter-desktop is-half-tablet">
            <div class="card">
            <figure class="image image-container">
              <div class="image-overlay-text">
                <h3 class="image-overlay-header"><%= photo.description %></h3>
                <% if (photo.user) { %>
                  <p>Uploaded by<a href="/users/<%= photo.user._id %>"><%= photo.user.username %></a></p>
                <% } %>
              </div>
              <a href ="/photos/<%= photo._id%>">
                <img class="hoverable-image" src="<%= photo.image %>" alt="<%= photo.description %>">
              </a>
            </figure>
        </div>
      <% }) %>
    <% } else { %>
      <h1 class="is-size-1">You are not following anyone just yet. Head to the explore tab to find more.</h1>
    <% } %>
  </div>
</main>
