<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img class="avatar" src="<%= user.image %>" alt="user.username">
        </div>
        <div class="column is-three-quarters user-info-sheet">
          <h1 class="title is-size-1">
            <%= user.username %>
          </h1>
          <h2>
            <%= user.bio %>
          </h2>
          <% if(locals.isAuthenticated) { %>
            <% if(locals.currentUser.username === user.username) { %>
              <a href="/users/<%= locals.currentUser._id %>/edit">Edit Profile</a>
              <% } %>
            <% if (locals.currentUser.isFollowing(user)) { %>
                <form method="POST" action="/users/<%= user._id %>/follow %>">
                // Forms can only be sent as GET or POST so we use method-override in the index.js to enable a DELETE in this case
                  <input type="hidden" name="_method" value="DELETE">
                  <button class="button is-danger follow-button">Un-follow</button>
                </form>
            <% } else { %>
              <form method="POST" action="/users/<%= user._id %>/follow">
                <button class="button is-primary follow-button">Follow</button>
              </form>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="horizontal-rule">

<main class="container">
  <div class="columns is-multiline">
    <% user.photos.forEach(photo => { %>
      <div class="column is-one-quarter-desktop is-half-tablet">
      <figure class="image image-container">
      <div class="image-overlay-text">
        <h3 class="image-overlay-header"><%= photo.description %></h3>
      </div>
        <a href ="/photos/<%= photo._id%>">
          <img class="hoverable-image" src="<%= photo.image %>" alt="<%= photo.description %>">
        </a>
        </figure>
      </div>
    <% }) %>
  </div>
</main>
