<main class="container">
  <div class="columns is-multiline">
    <% photos.forEach(photo => { %>
      <div class="column is-one-quarter-desktop is-half-tablet">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <a href ="/photos/<%= photo._id%>">
                  <img src="<%= photo.image %>" alt="<%= photo.description %>">
                </a>
              </figure>
            </div>
            <div class="card-content">
              <p><%= photo.description %></p>
              <% if (photo.user) { %>
              <p>Uploaded by
                <a href="/users/<%= photo.user._id %>"><%= photo.user.username %></a>
              </p>
              <% } %>
            </div>
          </div>
      </div>
    <% }) %>
  </div>
</main>
