<main class="container">
  <div class="columns is-multiline">
    <% photos.forEach(photo => { %>
      <div class="column is-one-quarter-desktop is-half-tablet">
          <div class="card">
              <figure class="image image-container">
                <div class="image-overlay-text">
                  <h3 class="image-overlay-header"><%= photo.description %></h3>
                  <% if (photo.user) { %>
                    <p>Uploaded by
                    <a href="/users/<%= photo.user._id %>"><%= photo.user.username %></a>
                    </p>
                  <% } %>
                </div>
                <a href ="/photos/<%= photo._id%>">
                  <img class="hoverable-image" src="<%= photo.image %>" alt="<%= photo.description %>">
                </a>
              </figure>
          </div>
      </div>
    <% }) %>
  </div>
</main>
