<div class="container">
  <div class="columns">
    <div class="column">
      <figure class="image">
        <img src="<%= photo.image %>" alt="<%= photo.description %>">
      </figure>
    </div>
    <div class="column">
      <h1 class="title"><%= photo.description %></h1>
      <ul>
        <% photo.comments.forEach(comment => { %>
          <li>
          <%= comment.content %>
          <% if(comment.isOwnedBy(locals.currentUser)) { %>
            <form method="POST" action="/photos/<%= photo._id %>/comments/<%= comment._id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button>Delete</button>
            </form>
            <% } %>
            </li>
            <% }) %>
          </ul>

          <% if(locals.isAuthenticated) { %>
            <a href="/photos/<%= photo._id %>/edit" class="button is-primary">Edit</a>


            <form method="POST" action="/photos/<%= photo._id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="button is-danger">Delete</button>
            </form>

            <form method="POST" action="/photos/<%= photo._id %>/comments">
            <textarea class="textarea" name="content" required></textarea>
            <button class="button is-primary">Submit</button>
            </form>

            <% } %>
    </div>
  </div>
</div>
