<div class="container">
  <div class="columns">
    <div class="column">
      <figure class="image">
        <img src="<%= photo.image %>" alt="<%= photo.description %>">
      </figure>
    </div>
    <div class="column">
      <h1 class="title"><%= photo.description %></h1>
      <ul>
        <% photo.comments.forEach(comment => { %>
          <div class="box">
            <li>
              <% if(comment.isOwnedBy(locals.currentUser)) { %>
                <form method="POST" action="/photos/<%= photo._id %>/comments/<%= comment._id %>">
                <input type="hidden" name="_method" value="DELETE">
                <button>Delete</button>
                </form>
              <% } %>
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img src="<%= comment.user.image %>" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <%= comment.content %>
                    </p>
                    <% if(comment.user) { %>
                      <strong><%= comment.user.username %></strong>
                    <% } %>
                  </div>
                </div>
              </article>
            </li>
          </div>
        <% }) %>
      </ul>

          <% if(locals.isAuthenticated) { %>
            <a href="/photos/<%= photo._id %>/edit" class="button is-primary">Edit</a>


            <form method="POST" action="/photos/<%= photo._id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="button is-danger">Delete</button>
            </form>

            <form method="POST" action="/photos/<%= photo._id %>/comments">
            <textarea class="textarea" name="content" required></textarea>
            <button class="button is-primary">Submit</button>
            </form>

            <form method="POST" action="/photos/<%= photo._id %>/likes">
            <button class="button is-primary">Like</button>
            </form>

            <form method="POST" action="/photos/<%= photo._id %>/likes/:like._id">
            <input type="hidden" name="_method" value="DELETE">
            <button class="button is-danger">Like</button>
            </form>

            <% } %>

    </div>
  </div>
</div>
