<main class="container">
  <div class="columns">
    <div class="column">
      <figure class="image">
        <img src="<%= photo.image %>" alt="<%= photo.description %>">
      </figure>
    </div>
    <div class="column image-show-card">
      <h1 class="title"><%= photo.description %></h1>
      <% if (photo.user.username) { %>
        <h3>Uploaded by <a href="/users/<%= photo.user._id %>"><%= photo.user.username %></a></h3>
        <ul>
        <% photo.comments.forEach(comment => { %>
          <div class="box">
          <li>
          <article class="media">
          <div class="media-left">
          <figure class="image is-64x64">
          <img class="avatar" src="<%= comment.user.image %>" alt="Image">
          </figure>
          </div>
          <div class="media-content">
          <div class="content">
          <p>
          <%= comment.content %>
          </p>
          <% if(comment.user) { %>
            <a href="/users/<%= comment.user._id %>">
            <strong><%= comment.user.username %></strong>
            </a>
            <% } %>
            <% if(comment.isOwnedBy(locals.currentUser)) { %>
              <form method="POST" action="/photos/<%= photo._id %>/comments/<%= comment._id %>">
              // Forms can only be sent as GET or POST so we use method-override in the index.js to enable a DELETE in this case
              <input type="hidden" name="_method" value="DELETE">
              <button class="comments-delete-button">X</button>
              </form>
              <% } %>
              </div>
              </div>
              </article>
              </li>
              </div>
              <% }) %>
              </ul>
      <% } %>

          <% if(photo.user.username === locals.currentUser.username) { %>
            <a href="/photos/<%= photo._id %>/edit" class="button is-primary">Edit</a>
          <% } %>

          <%# Forms can only be sent as GET or POST so we use method-override in the index.js to enable a DELETE in this case %>
            <form method="POST" action="/photos/<%= photo._id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="button is-danger">Delete</button>
            </form>

            <form method="POST" action="/photos/<%= photo._id %>/comments">
            <textarea class="textarea" name="content" placeholder="Post a comment here..."required></textarea>
            <button class="button is-primary">Submit</button>
            </form>

            <% if(photo.isLikedBy(locals.currentUser)) { %>

              <form method="POST" action="/photos/<%= photo._id %>/likes/:like._id">
              // Forms can only be sent as GET or POST so we use method-override in the index.js to enable a DELETE in this case
                <input type="hidden" name="_method" value="DELETE">
                <button class="unlike button is-danger"><i class="fas fa-heart"></i></button>
              </form>
            <% } else { %>

              <form method="POST" action="/photos/<%= photo._id %>/likes">
                <button class="like button is-primary"><i class="far fa-heart"></i></button>
              </form>
            <% } %>
            <p>Number of likes: <strong><%= photo.likes.length %></strong></p>
      </div>
    </div>
  </div>
</main>
