<img src="<%= photo.image %>" alt="<%= photo.description %>">
<h1><%= photo.description %></h1>
<a href="/photos/<%= photo._id %>/edit">Edit</a>


<form method="POST" action="/photos/<%= photo._id %>">
  <input type="hidden" name="_method" value="DELETE">
  <button>Delete</button>
</form>
